* {
    box-sizing: border-box;
}


/*****TEMP*******/


/*
header>section,
nav>a,
#logo-txt,
#header-img,


footer,

#con-pricing>article,

article>div>h3,
#con-contact,
main>section,
h4,
ul,
input,
div>img,
dl,
h3,
.feature-group,
.feature-group>div,
.feature-group>div>p {
    border: 1px solid black;
}

*/

#con-pricing>article {
    width: 22%;
}


/*
header {
    background-color: aqua;
}
*/


/*****MEDIA*****************/

@media only screen and (orientation: portrait) {
    /*Remove header,footer and space allocated to them*/
    header,
    footer {
        display: none !important;
    }
    body {
        margin-top: 0px !important;
    }
    /*Adjust feature display*/
    #con-feat-img,
    #con-feat-list>h3 {
        display: none !important;
    }
    .feature-group {
        display: -webkit-flex;
        display: flex;
        flex-direction: column !important;
    }
    .feature-group>div {
        margin: 3vh 5vw 3vh 5vw !important;
    }
    /*Display pricing variants 1 column full*/
    /* width of the screen, adjust image size*/
    #con-pricing {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }
    #con-pricing>article {
        flex-basis: auto !important;
        width: 100%;
        height: auto;
        padding: 3vh 3vw !important;
        margin: 5vh 5vw 5vh 5vw;
    }
    article>div>img {
        width: 35vw;
        height: auto;
    }
    /*Display video to full width of the screen*/
    #con-video {
        padding: 0 0 !important;
        height: auto;
        background-image: url();
        background-color: #464646;
    }
    #con-video>iframe {
        margin: 0 0 !important;
        padding: 0 0 !important;
        width: 100% !important;
        height: 40vh !important;
    }
}


/*****FONT******************/

h2,
h3,
h4,
#logo-txt {
    font-family: 'Dosis', sans-serif;
}


/*****BUTTONS***************/

.button {
    font-size: 2.2vh;
    padding: 1vh 1vh;
    border-radius: 0.5vh;
}


/*****LINKS***************/

a {
    color: black;
}

input[type=email] {
    font-size: 2.2vh;
    padding: 1vh 1vh;
    border-radius: 0.5vh;
    -webkit-appearance: none;
}


/*****Body******************/

body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #3c3242;
}


/*****Header****************/

header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    /***/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    color: #011a27;
    background-color: #f1f1f2;
    /*   box-shadow: 0 0.2vh 5vh #011a27;*/
    opacity: 0.9;
    /***/
}

#header-img {
    height: 8vh;
    width: auto;
    padding: 0.5vw 1vw 0.5vw 3vw;
}

#logo {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#navig {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /***/
}

#logo-txt {
    flex: auto;
    /***/
    font-size: 3vh;
    font-weight: bold;
    padding: 1vw;
}

.nav-link {
    text-decoration: none;
    margin-right: 2vw;
    font-size: 2vh;
}


/*****Main****************/


/*-------Video************/

#con-video {
    padding-top: 15vh;
    padding-left: 50vw;
    padding-bottom: 5vh;
    height: auto;
    background-image: url(img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

iframe {
    border: 0.25vw solid #011a27;
    border-radius: 0.2vw;
    width: 40vw;
    height: 30vw;
}


/*-------Contact**********/

#con-contact {
    padding-top: 8vh;
    padding-left: 5vw;
    height: 100vh;
    background-image: url(img/contact.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    color: #011a27;
    font-size: 4vh;
}


/*-------Features*********/

#con-features {
    color: #f1f1f2;
    /***/
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#con-feat-img {
    height: 60vh;
    background-image: url(img/example.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#con-feat-list {
    font-size: 2.5vh;
    height: auto;
    /***/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
}

.feature-group {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}

.feature-group>div {
    flex: 1 1 30%;
    padding: 0 1vw 1vw 1vw;
    margin: 0 4vw 2vw 4vw;
}

.feature-group>div>p {
    font-size: 2vh;
}

.feature-group>div>h4 {
    font-size: 2.2vh;
}

#con-feat-list>h3,
.feature-group>div>h4 {
    text-align: center;
}


/*-------Pricing**********/

#con-pricing {
    font-size: 2.5vh;
    color: #011a27;
    /*    background-color: #283655;*/
    /***/
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

#con-pricing>article {
    /***/
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    /***/
    color: #011a27;
    background-color: #ead39c;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 1vw;
    border-radius: 1vw;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#con-pricing>article:hover {
    box-shadow: 4px 8px 12px 0 #ead39c;
}

#con-pricing>article>div>h3 {
    text-align: center;
}

#con-pricing>article>div>h4 {
    text-align: center;
    font-size: 2.2vh;
}

#con-pricing>article>div>ul {
    font-size: 2vh;
}

article>div>img {
    margin: 10% 30%;
}


/*--------Footer**********/

footer {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: stretch;
    /***/
    width: 80%;
    margin: 5% auto 0px auto;
}

address {
    color: #011a27;
    text-align: center;
    margin: 1% 1%;
}