* {
    box-sizing: border-box;
}


/*****TEMP*******/

header>section,
nav>a,
#logo-txt,
#header-img,
#con-pricing>article,
h3,
h4,
ul,
input,
img {
    border: 1px solid black;
}

#con-pricing>article {
    width: 22%;
}

header {
    background-color: aqua;
}


/*****MEDIA*****************/

@media only screen and (orientation: portrait) {
    /*Remove header and footer*/
    header,
    footer {
        visibility: hidden;
    }
    /*Display pricing variants 1 column full*/
    /* width of the screen, adjust image size*/
    #con-pricing {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }
    #con-pricing>article {
        width: 100%;
        height: auto;
        padding: 5%;
        margin-top: 5%;
    }
    article>img {
        width: 35vw;
        height: auto;
    }
    /*Display video to full width of the screen*/
    #con-video>iframe {
        width: 100%;
        height: 40vh;
    }
}


/*****Header****************/

header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    /***/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    /***/
}

#header-img {
    height: 4vw;
    width: auto;
    padding: 0.5vw 1vw 0.5vw 3vw;
}

#logo {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#navig {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /***/
}

#logo-txt {
    flex: auto;
    /***/
    font-size: 1.5vw;
    padding: 1vw;
}

.nav-link {
    text-decoration: none;
    margin-right: 2vw;
    font-size: 1.4vw;
}


/*****Main****************/

main {
    /***/
    margin-top: 7%;
}


/*-------Contact**********/


/*-------Pricing**********/

#con-pricing {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

#con-pricing>article {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

article>img {
    margin: 10% 30%;
}