* {
    box-sizing: border-box;
}


/*****TEMP*******/

header>section,
nav>a,
footer,
#logo-txt,
#header-img,
#con-pricing>article,
article>div>h3,
#con-contact,
main>section,
h4,
ul,
input,
img,
dl,
h3,
.feature-group,
.feature-group>div,
.feature-group>div>p {
    border: 1px solid black;
}

#con-pricing>article {
    width: 22%;
}

header {
    background-color: aqua;
}


/*****MEDIA*****************/

@media only screen and (orientation: portrait) {
    /*Remove header,footer and space allocated to them*/
    header,
    footer {
        display: none !important;
    }
    body {
        margin-top: 0px !important;
    }
    /*Adjust feature display*/
    #con-feat-img,
    #con-feat-list>h3 {
        display: none !important;
    }
    .feature-group {
        display: -webkit-flex;
        display: flex;
        flex-direction: column !important;
    }
    /*Display pricing variants 1 column full*/
    /* width of the screen, adjust image size*/
    #con-pricing {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }
    #con-pricing>article {
        flex-basis: auto !important;
        width: 100%;
        height: auto;
        padding: 5%;
        margin-top: 5%;
    }
    article>div>img {
        width: 35vw;
        height: auto;
    }
    /*Display video to full width of the screen*/
    #con-video>iframe {
        width: 100%;
        height: 40vh;
    }
}


/*****Body******************/

body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #464646;
}


/*****Header****************/

header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    /***/
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    /***/
}

#header-img {
    height: 8vh;
    width: auto;
    padding: 0.5vw 1vw 0.5vw 3vw;
}

#logo {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#navig {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    /***/
}

#logo-txt {
    flex: auto;
    /***/
    font-size: 2.5vh;
    padding: 1vw;
}

.nav-link {
    text-decoration: none;
    margin-right: 2vw;
    font-size: 2vh;
}


/*****Main****************/


/*-------Video************/

#con-video {
    height: 50vh;
    background-image: url(img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}


/*-------Contact**********/

#con-contact {
    padding-top: 8vh;
    height: 100vh;
    background-image: url(img/contact.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}


/*-------Features*********/

#con-features {
    color: antiquewhite;
    /***/
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#con-feat-img {
    height: 65vh;
    background-image: url(img/example.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}

#con-feat-list {
    height: auto;
    /***/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
}

.feature-group {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}

.feature-group>div {
    flex: 1 1 30%;
    /***/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    /***/
    padding: 1vw;
    margin: 2vw;
}

#con-feat-list>h3,
.feature-group>div>h4 {
    text-align: center;
}


/*-------Pricing**********/

#con-pricing {
    /***/
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

#con-pricing>article {
    /***/
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    /***/
    padding: 1vw;
}

article>div>img {
    margin: 10% 30%;
}


/*--------Footer**********/

footer {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    /***/
    width: 80%;
    margin: 5% auto 0px auto;
}

address {
    text-align: left;
    margin: 1% 1%;
}